@import "@/var";

.container {
  height: 100%;
  align-items: stretch;
  table {
    width: 100vw;
    border-collapse: collapse;
    user-select: none;
    th {
      background-color: #fafafa;
      white-space: nowrap;
      &._status {
        padding-left: 14px;
      }
      &._action {
        text-align: right;
        padding-right: 20px;
      }
    }
    th,
    td {
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #f0f0f0;
      height: 50px;
    }
    tr:hover td {
      background-color: #fafafa;
    }
    tr:last-child td {
      border-bottom: none;
    }
  }
}

.ttitle {
  flex-shrink: 0;
}
.list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #c0c0c0;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

$statusWidth: 50px;
$oldSizeWidth: 120px;
$newSizeWidth: 120px;
$rateWidth: 85px;
$actionWidth: 100px;
$nameWidth: calc(
  100vw - $statusWidth - $oldSizeWidth - $newSizeWidth - $rateWidth -
    $actionWidth
);

// 列属性
._status {
  width: $statusWidth;
}
._name {
  width: $nameWidth;
}
._oldSize {
  width: $oldSizeWidth;
}
._newSize {
  width: $newSizeWidth;
}
._rate {
  width: $rateWidth;
}
._action {
  width: $actionWidth;
}

.status {
  padding-left: 10px;
  .statusDone {
    font-size: 14px;
    color: $success-color;
  }
}

.name {
  width: 100%;
  position: relative;
  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    > span,
    > div {
      flex-shrink: 0;
    }
    > span {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    > div {
      // margin: 0 10px;
      margin-right: 10px;
      font-size: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        outline: 1px solid lighten($primary-color, 0);
      }
      background-color: #f0f0f0;
      &:hover {
        img {
          outline: 2px solid $primary-color;
        }
      }
      &:active {
        img {
          outline: 2px solid darken($primary-color, 10);
        }
      }
    }
  }
}

// 可拖拽区域
.dragZone {
  height: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
  &:active {
    background-color: #fafafa;
  }
  .icon {
    width: 50px;
    margin-bottom: 20px;
    path {
      fill: $primary-color;
    }
  }
  h2,
  p {
    letter-spacing: 1px;
  }

  h2 {
    color: $primary-color;
    margin-bottom: 10px;
  }
  p {
    color: #999;
    font-size: 14px;
  }
  .mask {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  &.dragActive {
    .mask {
      border: 2px dashed $warning-color;
      background-color: #ffffff99;
    }
  }
}

.loading {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffcc;
  user-select: none;
  > span {
    font-size: 24px;
  }
  > p {
    margin-top: 15px;
    font-size: 12px;
  }
}

.action {
  height: 100%;
  padding-right: 10px;
  span {
    cursor: pointer;
    font-size: 0;
    color: #999;
    svg {
      width: 18px;
    }
    &.actionHandle {
      &:hover {
        color: $primary-color;
      }
      &:active {
        color: darken($primary-color, 10);
      }
    }
    &.actionRemove {
      margin-left: 15px;
      &:hover {
        color: $warning-color;
      }
      &:active {
        color: darken($warning-color, 10);
      }
    }
  }
}
