@import "../var";

.loading {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffcc;
  user-select: none;
  > span {
    font-size: 24px;
  }
  > p {
    margin-top: 15px;
    font-size: 13px;
  }
}
