@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-family: "Microsoft Yahei", "WenQuanYi Micro Hei", "PingFang SC", "Avenir",
    "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif", sans-serif;
  font-size: 13px;
  color: #333;
}