div.container {
  height: 100vh;
  align-items: stretch;
  background-color: #fff;
}
.header,
.footer {
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #fafafa;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  -webkit-app-region: drag;
  .noDrag {
    -webkit-app-region: no-drag;
  }
}
.header {
  border-bottom: 1px solid #f0f0f0;
}
.footer {
  border-top: 1px solid #f0f0f0;
}

.content {
  height: calc(100vh - 50px - 50px);
  position: relative;
}

.logo {
  font-size: 0;
  margin-right: 15px;
  img {
    width: 18px;
    margin-right: 8px;
  }
  h5 {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 0;
  }
}

.mini,
.close {
  width: 22px;
  height: 22px;
  // border-radius: 50%;
  cursor: pointer;
  // background-color: #f0f0f0;
  svg {
    width: 19px;
    path {
      fill: #999;
    }
  }
  &:hover {
    background-color: #f0f0f0;
    svg {
      path {
        fill: #333;
      }
    }
  }
}

.setting {
  margin-right: 20px;
}

.helpInfo {
  color: rgba(0, 0, 0, 0.45);
}

.redo {
  margin-right: 20px;
}

.processNum {
  color: rgba(0, 0, 0, 0.45);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
  font-size: 15px;
  span:nth-of-type(1) {
    margin: 0 3px 0 10px;
    font-weight: bold;
  }
  span:nth-of-type(2) {
    margin-left: 3px;
  }
}
