@import "@/var";

.loading {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;
  background-color: #ffffffdd;
  user-select: none;
  > span {
    font-size: 24px;
  }
  > div {
    margin-top: 15px;
    font-size: 13px;
  }
}