div.container {
  height: 100vh;
  align-items: stretch;
  background-color: #fff;
}
.header,
.footer {
  height: 50px;
  padding: 0 10px;
  background-color: #fafafa;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.header {
  border-bottom: 1px solid #f0f0f0;
}
.footer {
  border-top: 1px solid #f0f0f0;
}

.content {
  flex: 1;
  position: relative;
}

.logo {
  font-size: 0;
  img {
    width: 18px;
    margin-right: 8px;
  }
  h5 {
    font-size: 14px;
    // font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
  }
}

.mini,
.close {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  svg {
    width: 12px;
    // transform: scale(0.9);
    visibility: hidden;
    path {
      fill: #343434;
    }
  }
}

.action:hover {
  .mini,
  .close {
    svg {
      visibility: visible;
    }
  }
  .mini {
    background-color: #ffc107;
  }
  .close {
    background-color: #dc3545;
  }
}
